<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Downloader</title>
    </head>
    <body>
        <div>
            <h1>Home Downloader</h1>
            <p>Paste the Youtube Url in the follwoing field and press "Download"</p>

            <form action="/" method="post">
                <label>
                    Youtube URL <input placeholder="Url" type="text" name="url">
                </label>
                <button type="submit">Download</button>
            </form>

            <h2>Finished downloads</h2>
            <p><a href="/downloads">Click here</a></p>
        </div>
    </body>
</html>